@define-color bg #0e0e0e;
@define-color fg #ebebeb;
@define-color ac #d64933;

* {
	 transition: all 0.3s cubic-bezier(0.43, -0.03, 0, 1.2);
     border-radius: 0px;
}

window {
    background-color: @bg;
    font-family: GoMono Nerd Font;
	margin: 8px;
}

#input {
    margin: 5px;
    color: @fg;
    background-color: @bg;
	font-size: 17px;
}


#outer-box {
    border: 1px solid @fg;
    padding: 8px;
}

#text {
    border: none;
    color: @fg;
	font-size: 15px;
	margin: 5px;
}

#entry {
	padding-left: 12px;
}

#entry:selected {
    background-color: transparent;
    border-left: 1px solid @ac;
	border-radius: 0px;
    outline: none;
    margin-left: 8px;
}

#input:focus {
	margin-bottom: 4px;
	padding: 8px;
    border-left: 1px solid @ac;
    margin-left: 8px;
    outline: none;
}

#entry {
    transition: all 0.3s ease;
    margin-left: 0px;
}
